{% extends "site_base.html" %}
{% block body %}
<h2>Welcome email</h2>

<p>Send to: {{ student.enrollment_email }}</p>

<p>Subject: Welcome to the Certificate in Python Programming!</p>

<p>Dear {{ student }},</p>

<p>
Just wanted to check in and make sure that you have everything you need to get started working through the online course
materials for Programming in Python. According to our records, you have been enrolled in the course for over a week now
but have not submitted your first homework assignment.
</p>
<p>
If you can, try to log into the <a href="https://startlearning.uw.edu/courses/course-v1:UW+PYTHON210+2018_Winter/">course</a> within
the next few days, and complete <a href="https://startlearning.uw.edu/courses/course-v1:UW+PYTHON210+2018_Winter/courseware/8a91080843cf492e98ba0d24fa52c35c/55153960c1244a69bbd5f8442f20d994/">Lesson 1</a>.
If you run into any road blocks please let me know as soon as possible. <b>Remember, you have 4 months from your first login to complete the course</b>.
</p>
<p>
Your instructional team is here to help guide you through the process of getting started and succeeding in the course.
</p>
<p>
Please do not hesitate to reach out to me or your instructor through this email address (python1@uw.edu), or through the course discussion boards or on Slack.
</p>
<p>
Best,
<br><br>
Rob Alford
</p>
{% endblock %}