{% extends "site_base.html" %}{% load bootstrap3 %}
{% block body %}
    <h1>Student Progress Report</h1>
    <p>{{ percent_ahead_or_on_pace|floatformat }}% of students on pace to finish the course on time.</p>
    <p>{{ percent_behind|floatformat }}% of students behind schedule to complete course.</p>
    <p>{{ percent_no_progress|floatformat }}% of students show no progress in the course.</p>
    <br><br>
    {% if students_ahead %}
    <h2>Ahead of schedule</h2>
    {% include 'tracker/_student_tracking_table.html' with students=students_ahead %}
    {% endif %}
    {% if students_on_pace %}
    <h2>On pace</h2>
    {% include 'tracker/_student_tracking_table.html' with students=students_on_pace %}
    {% endif %}
    {% if students_behind %}
    <h2>Behind</h2>
    {% include 'tracker/_student_tracking_table.html' with students=students_behind %}
    {% endif %}
    {% if students_no_progress %}
    <h2>No progress</h2>
    {% include 'tracker/_student_tracking_table.html' with students=students_no_pogress %}
    {% endif %}
    <br><br>

    {% if send_welcome_email %}
    <h2>Send welcome email</h2>
    <hr>
    <ul>
    {% for student in send_welcome_email %}
    {% url 'welcome_email' student.id as welcome_email_url %}
    {% include 'tracker/_student_email_list.html' with url=welcome_email_url %}
    {% endfor %}
    </ul>
    {% endif %}

    {% if send_week1_email %}
    <h2>Send one week check in</h2>
    <hr>
    <ul>
    {% for student in send_week1_email %}
    {% url 'welcome_email' student.id as week_one_email_url %}
    {% include 'tracker/_student_email_list.html' with url=week_one_email_url %}
    {% endfor %}
    </ul>
    {% endif %}

    {% if send_month1_email %}
    <h2>Send one month email</h2>
    <hr>
    <ul>
    {% for student in send_month1_email %}
    {% url 'monthly_email' student_pk=student.id month_completed=1 as month1_email_url %}
    {% include 'tracker/_student_email_list.html' with url=month1_email_url %}
    {% endfor %}
    </ul>
    {% endif %}

    {% if send_month2_email %}
    <h2>Send two month email</h2>
    <hr>
    <ul>
    {% for student in send_month2_email %}
    {% url 'monthly_email' student_pk=student.id month_completed=2 as month2_email_url %}
    {% include 'tracker/_student_email_list.html' with url=month2_email_url %}
    {% endfor %}
    </ul>
    {% endif %}

    {% if send_month3_email %}
    <h2>Send three month email</h2>
    <hr>
    <ul>
    {% for student in send_month3_email %}
    {% url 'monthly_email' student_pk=student.id month_completed=3 as month3_email_url %}
    {% include 'tracker/_student_email_list.html' with url=month3_email_url %}
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}